@charset "UTF-8";

%TsukuB {
    font-family:  'TsukuBRdGothic-Regular',sans-serif;
}
%TsukuA {
    font-family: 'TsukuARdGothic-Regular',sans-serif;
}
%Montserrat {
    font-family: 'Montserrat',sans-serif;
}
%YuGothic {
    font-family: YuGothic,'Yu Gothic',sans-serif;
}
